<ion-view  view-title="老人评估">
    <ion-nav-buttons side="right">
        <button class="button button-balanced" ng-disabled="personEvaluateBadl.$invalid" ng-click="vm.save()">
            保存
        </button>
    </ion-nav-buttons>
<form novalidate w5c-form-validate name="personEvaluateBadl" >
    <ion-content >
        <label class="item item-avatar">
            <img id="headIcon" src="{{vm.headIcon}}" >
            {{vm.personName}}
        </label>
        <ion-list>
            <ion-item class="item item item-icon-right"
                      ng-repeat="item in vm.menus"
                      ng-click="vm.toDetail({{item}})">
                {{item.title}}
                <span class="badge badge-assertive">{{item.itemCount}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">评估员：</span>
                <input type="text"  ng-model="vm.recorder1"/>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">证书编号：</span>
                <input type="text"  ng-model="vm.certificateNumber1"/>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">评估员：</span>
                <input type="text"  ng-model="vm.recorder2"/>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">证书编号：</span>
                <input type="text"  ng-model="vm.certificateNumber2"/>
            </ion-item>
            <ion-item class="item item-input">
                <textarea  placeholder="备注" ng-model="vm.comment" style="height: 140px;" ng-maxlength="200" name="comment"> </textarea>
            </ion-item>
        </ion-list>
    </ion-content>
</form>

</ion-view>


