<ion-view class="bar-positive" view-title="{{vm.personName}}">
   <ion-content>
       <ion-item class="item"
                 ng-if="vm.noData">
           <h2>没有服务项目</h2>
       </ion-item>
       <div ng-if="vm.flag == 1">
           <div class="item item-divider" style="background-color: #11c1f3">
               <div style="text-align: center;color: white;"><b>服务项目</b></div>
           </div>
           <label class="item item-text-wrap">
               <span>服务等级：{{vm.careRankName}}</span>
           </label>
           <label class="item item-text-wrap">
               <span>服务套餐：{{vm.packageName}}</span>
           </label>
       </div>
       <ion-item class="item" style="border-width: 0px;"
                 ng-repeat="item in vm.serviceItemList">
           <div class="item item-divider " style="background-color: #11c1f3">
               <div style="text-align: center;color: white;"><b>{{item.careTypeName}}</b></div>
           </div>
           <ion-item class="item-text-wrap item-icon-right"
                     ng-repeat="item1 in item.listCareService">
               <h2>{{item1.serviceName}}</h2>
           </ion-item>
       </ion-item>
   </ion-content>

</ion-view>
