.label {
  border-radius: 0;
  font-weight: 600
}

.label:empty {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: sub
}

.label.label-fw {
  margin-right: .5em
}

.labels .label {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px
}

.label-md {
  font-size: 100%
}

.label-table {
  display: inline-block;
  width: 80%;
  min-width: 8ex;
  font-size: 1em;
  max-width: 100px;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: top
}

.label-default {
  background-color: #e3e8ee;
  color: #333
}

.label-primary {
  background-color: #42a5f5
}

.label-info {
  background-color: #00bcd4
}

.label-success {
  background-color: #8bc34a
}

.label-warning {
  background-color: #ffa726
}

.label-danger {
  background-color: #ef5350
}

.label-mint {
  background-color: #26a69a
}

.label-purple {
  background-color: #ba68c8
}

.label-pink {
  background-color: #ec407a
}

.label-dark {
  background-color: #263238
}