<ion-view class="bar-positive" view-title="采购单审批">
    <ion-header-bar class="bar-subheader">
        <button class="button button-assertive" ng-click="vm.agreeApply(0)">拒绝</button>

        <button class="button button-balanced" ng-click="vm.agreeApply(1)">同意</button>
    </ion-header-bar>
   <ion-content>

       <div class="item item-divider" style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>采购信息</b></div>
       </div>
       <label class="item item-text-wrap">
           <span>采购部门：{{vm.purchaseDepName}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>供应商：{{vm.supplierName}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>采购申请人：{{vm.orderOwnerName}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>申请日期：{{vm.orderDate}}</span>
       </label>
       <ion-item class="item item-text-wrap">
           采购说明：{{vm.orderMemo}}
       </ion-item>
       <div class="item item-divider" style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>物资明细<span>（合计金额：{{vm.moneyTotal}}元）</span></b></div>
       </div>
       <ion-list ng-repeat="item in vm.list">
           <div class="item item-divider item-color">
               <div>{{item.materialName}}</div>
           </div>
           <ion-item class="item item-text-wrap">
               <h3>规格：{{item.spec}}</h3>
               <h3>折扣前单价：{{item.price}}</h3>
               <h3>折扣后单价：{{item.discountPrice}}</h3>
               <h3>采购数量：{{item.quantity}} {{item.unit}}</h3>
               <h3>是否赠品：{{item.giftName}}</h3>
               <h3>金额：{{item.money}}</h3>
               <h3>备注：{{item.memo}}</h3>
           </ion-item>
        </ion-list>

   </ion-content>

</ion-view>
