
<form novalidate
      name="returnVisitInfoForm"
      w5c-form-validate
>


    <ion-view class="bar-positive" view-title="回访履历信息">

        <ion-nav-buttons side="right">

            <button  ng-if="vm.permissions.hasPermission(vm.permission)"
                     class="button button-balanced"
                     ng-disabled="returnVisitInfoForm.$invalid"
                     ng-click="vm.save()">
                保存
            </button>
        </ion-nav-buttons>


        <ion-content>

            <ion-list>
                <label class="item item-input">
                    <span class="input-label">回访日期<span style="color: red">*</span></span>
                    <input class="text-right" style="background-color:white" type="text" readonly required
                           ng-model="vm.returnVisitDate"
                           ng-click="vm.openDatePicker1()"
                           placeholder="请选择日期">
                </label>

                <label class="item item-input item-select">
                    <span class="input-label">意向度</span>
                    <select ng-model="vm.intentionality"
                            ng-options="item.key as item.value for item in vm.baseData.intentionalityList">
                    </select>
                </label>

                <label class="item item-input">
                    <span class="input-label">回访内容<span style="color: red">*</span></span>
               <textarea class="text-right" ng-model="vm.returnVisitContent" ng-maxlength="300" style="width: 60%" required
                         placeholder="请输入回访内容" name="comment"> </textarea>
                </label>

                <label class="item item-input">
                    <span class="input-label">下次回访日期</span>
                    <input class="text-right" style="background-color:white" type="text" readonly
                           ng-model="vm.nextVisitDate"
                           ng-click="vm.openDatePicker2()"
                           placeholder="请选择日期">
                </label>

            </ion-list>

        </ion-content>


    </ion-view>
</form>