<ion-view class="bar-positive" view-title="照护">

   <ion-content>

       <ion-list>
           <ion-item class="item-icon-right"
                     ng-repeat="item in vm.menus"
                     ng-if="vm.permissions.hasPermission(item.permission)"
                     ng-click="vm.toSub({{item}})">
               {{item.title}}
               <i class="icon ion-chevron-right icon-accessory"></i>
           </ion-item>

           <ion-item class="item-icon-right"
                     ng-if="vm.canShift"
                     ng-click="vm.toSub({{vm.shiftItem}})">
               交班
               <i class="icon ion-chevron-right icon-accessory"></i>
           </ion-item>

       </ion-list>



   </ion-content>

</ion-view>
