<ion-view class="bar-positive" view-title="老人列表">
   <ion-content>
       <form>
           <div class="bar bar-header item-input-inset" style="height: 41px;">
               <label class="item-input-wrapper" style="margin-bottom: 11px;margin-top: 10px;">
                   <i class="icon ion-ios-search placeholder-icon"></i>
                   <input type="search" placeholder="{{vm.placeholder}}" ng-model="vm.searchContent">
                   <button class="button button-clear" ng-click="vm.search()">

                   </button>
               </label>
           </div>
       </form>
       <ion-item class="item"
                 ng-if="vm.noData">
           <h2>没有查询到数据</h2>
       </ion-item>
       <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>
       <ion-list>
           <ion-item class="item-avatar item-icon-right"
                     ng-repeat="item in vm.personList"
                     ng-click="vm.toSub({{item}})"  >
                <img ng-src="{{item.photoFile}}">

               <h2>{{item.personName}}</h2>
               <h3 style="color: #8e8e8e;">年龄：{{item.age}}&nbsp;&nbsp;&nbsp;&nbsp;性别：{{item.gender}}</h3>
               <h3 style="color: #8e8e8e;" ng-if="item.bedInfo">床位：{{item.bedInfo}}</h3>
               <h3 style="color: #8e8e8e;">评估状态：{{item.status}}</h3>
               <h3 style="color: #8e8e8e;">评估时间：{{item.evaluationDate}}</h3>
               <i class="icon ion-chevron-right icon-accessory"></i>
           </ion-item>
       </ion-list>

       <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>

   </ion-content>

</ion-view>
