<ion-view class="bar-positive" view-title="主页">
   <ion-content>


       <div class="list">
           <label class="item item-input">
               <input type="text" ng-model="vm.strBaZi" placeholder="输入八字">
           </label>

       </div>
       <button  class="button button-block button-balanced" ng-click="vm.analyze()" >分析</button>


       <div class="row">
           <div class="col">
               <p> <span>{{vm.nianzhu}}</span></p>
               <p><span  class="calm">{{vm.niannayin}}</span></p>
           </div>
           <div class="col">
               <p> <span class="text-success">{{vm.yuezhu}}</span></p>
               <p><span class="calm">{{vm.yuenayin}}</span></p>
           </div>
           <div class="col">
               <p> <span class="text-success">{{vm.rizhu}}</span></p>
               <p><span class="calm">{{vm.rinayin}}</span></p>
           </div>
           <div class="col">
               <p> <span class="text-success">{{vm.shizhu}}</span></p>
               <p><span class="calm">{{vm.shinayin}}</span></p>
           </div>
       </div>


       <div style="white-space:normal;">
           <json-formatter json="vm.analyzeResult" open="1"></json-formatter>
       </div>


   </ion-content>

</ion-view>
