<ion-view class="bar-positive" >


    <!--scroll="false"-->
   <ion-content scroll="false">

       <div class="bar bar-header item-input-inset">
           <select ng-model="vm.genderSelected">
               <option value="男" selected="selected">男</option>
               <option value="女">女</option>
           </select>
           <label class="item-input-wrapper">
               <i class="icon ion-ios-search placeholder-icon"></i>
               <input type="text" ng-model="vm.strBaZi" placeholder="输入八字">

           </label>

           <button class="button button-balanced" ng-click="vm.analyze()" >
               分析
           </button>
       </div>



       <div class="row">
           <div class="col" >
               <a ng-click="vm.openPopover(vm.nianzhu)">
                   <p> <span>{{vm.nianzhu}}</span></p>
               </a>

               <a ng-click="vm.showNaYinXingZhi(vm.nianzhu)">
                   <p><span  class="calm">{{vm.niannayin}}</span></p>
               </a>



           </div>
           <div class="col">
               <a ng-click="vm.openPopover(vm.yuezhu)">
                   <p> <span >{{vm.yuezhu}}</span></p>
               </a>

               <a ng-click="vm.showNaYinXingZhi(vm.yuezhu)">
                   <p><span class="calm">{{vm.yuenayin}}</span></p>
               </a>


           </div>
           <div class="col">
               <a ng-click="vm.openPopover(vm.rizhu)">
                   <p> <span>{{vm.rizhu}}</span></p>
               </a>

               <a ng-click="vm.showNaYinXingZhi(vm.rizhu)">
                   <p><span class="calm">{{vm.rinayin}}</span></p>
               </a>


           </div>
           <div class="col">
               <a ng-click="vm.openPopover(vm.shizhu)">
                   <p> <span>{{vm.shizhu}}</span></p>
               </a>

               <a ng-click="vm.showNaYinXingZhi(vm.shizhu)">
                   <p><span class="calm">{{vm.shinayin}}</span></p>
               </a>

           </div>
       </div>


       <ion-scroll style="height: 100%;">
           <div style="white-space:normal;min-height: 100000px">
               <json-formatter json="vm.analyzeResult" open="1"></json-formatter>
           </div>
       </ion-scroll>




   </ion-content>

</ion-view>
