<ion-view class="bar-positive" view-title="同意 & 需他人审核">
    <ion-nav-buttons side="right">

        <button  class="button button-balanced" ng-disabled="otherAgreeLeave.$invalid" ng-click="vm.otherAgreeApplyLeave(1)">
            同意
        </button>
    </ion-nav-buttons>
<form novalidate w5c-form-validate name="otherAgreeLeave" >
   <ion-content>
       <ion-list>

           <ion-toggle ng-model="vm.switchInstitute.checked" toggle-class="toggle-balanced" ng-if="vm.permissions.hasPermission(vm.permission)"
                       ng-change="vm.getAuditors(vm.bigAuditor)">{{vm.buttonName}}</ion-toggle>
           <label class="item item-input item-select">
               <span class="input-label">审核人：</span>
               <select ng-model="vm.auditorId"
                       ng-options="item.key as item.value for item in vm.auditorList">
               </select>
           </label>
           <ion-item class="item item-input">
               <textarea  placeholder="意见" ng-model="vm.auditOpinion" ng-maxlength="200" style="height: 150px;" name="comment"> </textarea>
           </ion-item>


       </ion-list>

     </ion-content>
</form>
</ion-view>
