<ion-view class="bar-positive" view-title="机构选择">
    <ion-nav-buttons side="right">
        <button class="button button-balanced" ng-click="vm.save()">
            确定
        </button>
    </ion-nav-buttons>
   <ion-content>


       <li class="item item-checkbox item-text-wrap"  ng-repeat="item in vm.instituteDtoList"
           style="{{item.head}}">
       <label class="checkbox" ng-click="vm.selectBtn({{$index}})">
           <input type="checkbox" ng-model="item.ownership">
       </label>
       {{item.name}}
       </li>


   </ion-content>

</ion-view>
