<ion-view class="bar-positive"
          view-title="签名">
   <ion-content scroll="false">

       <ion-list>

           <label class="item item-input item-select">
               <span class="input-label">评价：</span>
               <select ng-model="vm.evaluate" ng-init="vm.evaluate='2'">
                   <option  value="{{$index}}" ng-repeat="t in vm.evaluateList">{{t}}</option>
               </select>
           </label>
       </ion-list>

       <canvas style="border: solid 2px #4cd964;" id="canvas" height="300%">不支持 canvas 标签</canvas>

       <div id="canvas-container" class="row">

           <!--<button ng-click="vm.clearCanvas()" class="button button-positive" >-->
               <!--清除-->
           <!--</button>-->
           <!--<button ng-click="vm.saveCanvas()" class="button button-positive" >-->
               <!--确定-->
           <!--</button>-->

           <div class="button-bar">
               <a class="button  button-positive" ng-click="vm.clearCanvas()">清除</a>
               <a class="button  button-balanced" ng-click="vm.saveCanvas()">确定</a>
           </div>
       </div>




   </ion-content>

</ion-view>
