<ion-view class="bar-positive" view-title="病程记录">
    <ion-nav-buttons side="right">
        <button  ng-if="vm.permissions.hasPermission(vm.permission)"
                 class="button button-balanced" ng-click="vm.modify()">
            保存
        </button>
    </ion-nav-buttons>
   <ion-content>

       <div class="item item-divider" style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>详细信息</b></div>
       </div>
       <label class="item item-text-wrap">
           <span>老人：{{vm.personName}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>时间：{{vm.measureDate}}</span>
       </label>
       <div class="item item-divider">
           参加者
       </div>
       <ion-checkbox
               ng-repeat="item in vm.listStaff"
               ng-model="vm.operator[item.key]"
       >
           {{item.value}}
       </ion-checkbox>
       <div class="item item-divider " style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>病程记录</b></div>
       </div>
       <ion-item class="item item-input">
           <textarea  placeholder="病程记录" ng-model="vm.comment" style="height: 300px;" ng-maxlength="1000" name="comment"> </textarea>
       </ion-item>
   </ion-list>

   </ion-content>

</ion-view>
