<ion-view class="bar-positive" view-title="申领单审批">
    <ion-header-bar class="bar-subheader">
        <button class="button button-assertive" ng-click="vm.agreeApply(0)">拒绝</button>

        <button class="button button-balanced" ng-click="vm.agreeApply(1)">同意</button>
    </ion-header-bar>
   <ion-content>

       <div class="item item-divider" style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>申领信息</b></div>
       </div>

       <label class="item item-text-wrap">
           <span>申领人：</span>{{vm.applicantName}}
       </label>
       <label class="item item-text-wrap">
           <span>所属部门：</span>{{vm.applicantDivisionName}}
       </label>
       <ion-item class="item item-text-wrap">
           申领人备注：{{vm.applicantMemo}}
       </ion-item>

       <div class="item item-divider" style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>申领明细</b></div>
       </div>
       <ion-list ng-repeat="item in vm.list">
           <div class="item item-divider item-color">
               <div>{{item.materialName}}</div>
           </div>
           <ion-item class="item item-text-wrap">
               <h3>型号：{{item.spec}}</h3>
               <h3>申请数量：{{item.reqQuantity}} {{item.unit}}</h3>
           </ion-item>
        </ion-list>

   </ion-content>

</ion-view>
