<ion-view class="bar-positive" view-title="退住确认">
    <ion-header-bar class="bar-subheader" style="text-align: right;">
        <button class="button button-balanced pull-right" ng-click="vm.agreeApply(1)" ng-if="vm.permissions.hasPermission(vm.permission)">确认</button>
    </ion-header-bar>
   <ion-content>
       <div class="item item-divider" style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>详细内容</b></div>
       </div>
       <label class="item item-text-wrap">
           <span>老人：{{vm.param.personName}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>床位：{{vm.param.bedInfo}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>申请日期：{{vm.param.applyDate}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>预定退住日期：{{vm.param.implementationDate}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>审核日期：{{vm.operateDate}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>审批结果：{{vm.resultName}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>退住原因：{{vm.param.reason}}</span>
       </label>
       <div class="item item-divider item-color">
           <div>确认结果</div>
       </div>
       <ion-list ng-repeat="item in vm.auditList">
           <ion-item  class="item item-text-wrap" >
               <h3>{{item.name}}：{{item.resultName}}</h3>
               <h3 ng-if="item.operateDate">确认时间：{{item.operateDate}}</h3>
           </ion-item>

       </ion-list>

   </ion-content>

</ion-view>
