
<ion-view class="bar-positive" view-title="老人服务列表">
   <ion-content>
       <div class="item item-avatar item-text-wrap item-icon-right">
           <img src="{{vm.headIconURL}}">
           <h2>{{vm.personName}}</h2>
           <p>年龄：{{vm.age}}</p>
           <p>{{vm.bedInfo}}</p>
       </div>

       <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>
       <ion-list>
           <ion-item class="item item-avatar item-icon-right"
                     ng-repeat="item in vm.personList"
                     ng-click="vm.toDetail({{item}})">
                <img ng-src="{{item.image_file_name}}" >
               <h2>名称：{{item.service_abbr_name}}</h2>
               <h3 ng-if="!item.care_detail_no">计划开始时间：{{item.plan_start_time}}</h3>
               <h3 ng-if="!item.care_detail_no">状态：<font color="red">未实施</font></h3>
               <h3 ng-if="item.care_detail_no">{{item.careStatus}}</h3>
               <h3 ng-if="item.staffName">实施者：{{item.staffName}}</h3>
               <h3 ng-if="item.care_detail_no">实施时间：{{item.care_date_content}}</h3>
               <i ng-if="item.care_detail_no" class="icon ion-chevron-right icon-accessory"></i>
           </ion-item>
       </ion-list>

       <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>

   </ion-content>

</ion-view>
