<ion-view class="bar-positive" view-title="评估履历">
    <ion-nav-buttons side="right">
        <button class="button button-balanced" ng-click="vm.add()" ng-if="vm.isadd">
            评估
        </button>
    </ion-nav-buttons>
   <ion-content>

       <label class="item item-avatar">
           <img id="headIcon" src="{{vm.headIcon}}" >
           {{vm.personName}}
       </label>
       <ion-item class="item"
                 ng-if="vm.nodata"/>
       <h2>没有评估数据</h2>

       </ion-item>
       <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>
       <ion-list>
           <ion-item class="item-icon-right"
                     ng-repeat="item in vm.evaluateHistory"
                     ui-sref="{{vm.state}}({personId:{{item.personId}},id:{{item.evaluationRecordId}},accessDiv:{{vm.accessDiv}},applyId:{{vm.applyId}} })">
               <h3>评估结果：{{item.evaluationLevel}}</h3>
               <h3>评估时间：{{item.evaluationDateLebal}}</h3>
               <h3>评估人：{{item.evaluator}}</h3>
               <i class="icon ion-chevron-right icon-accessory"></i>
           </ion-item>


       </ion-list>

       <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>

   </ion-content>

</ion-view>
