<ion-view class="bar-positive" view-title="{{vm.personName}}">
   <ion-content>
       <ion-item class="item"
                 ng-if="vm.noData">
           <h2>没有查询到数据</h2>
       </ion-item>
       <div class="item item-divider " style="background-color: #11c1f3"ng-if="vm.dataBlood">
           <div style="text-align: center;color: white;"><b>血压（mmHg）</b></div>
       </div>
       <div class="row row-wrap">
           <div class="col" ng-if="vm.dataBlood">
                <highchart style="height: 280px;" id="blood" config="vm.bloodConfig" style="height: {{vm.height}};"></highchart>
           </div>
       </div>

       <div class="item item-divider " style="background-color: #11c1f3"ng-if="vm.dataTemperature">
           <div style="text-align: center;color: white;"><b>体温（℃）</b></div>
       </div>
       <div class="row row-wrap">
           <div class="col" ng-if="vm.dataTemperature">
                <highchart style="height: 280px;" id="temperature" config="vm.temperatureConfig" style="height: {{vm.height}};"></highchart>
           </div>
       </div>

       <div class="item item-divider " style="background-color: #11c1f3"ng-if="vm.dataPulse">
           <div style="text-align: center;color: white;"><b>脉搏（次/分钟）</b></div>
       </div>
       <div class="row row-wrap">
           <div class="col" ng-if="vm.dataPulse">
                <highchart style="height: 280px;" id="pulse" config="vm.pulseConfig" style="height: {{vm.height}};"></highchart>
           </div>
       </div>

       <div class="item item-divider " style="background-color: #11c1f3"ng-if="vm.dataBreath">
           <div style="text-align: center;color: white;"><b>呼吸（次/分钟）</b></div>
       </div>
       <div class="row row-wrap">
           <div class="col" ng-if="vm.dataBreath">
                <highchart style="height: 320px;" id="pulse" config="vm.breathConfig" style="height: {{vm.height}};"></highchart>
           </div>
       </div>

       <div class="item item-divider " style="background-color: #11c1f3"ng-if="vm.dataWeight">
           <div style="text-align: center;color: white;"><b>体重（kg）</b></div>
       </div>
       <div class="row row-wrap">
           <div class="col" ng-if="vm.dataWeight">
                <highchart style="height: 280px;" id="weight" config="vm.weightConfig" style="height: {{vm.height}};"></highchart>
           </div>
       </div>

       <div class="item item-divider " style="background-color: #11c1f3"ng-if="vm.dataBloodGlucose">
           <div style="text-align: center;color: white;"><b>血糖（mmol/L）</b></div>
       </div>
       <div class="row row-wrap">
           <div class="col" ng-if="vm.dataBloodGlucose">
               <highchart style="height: 320px;" id="bloodGlucose" config="vm.bloodGlucoseConfig" style="height: {{vm.height}};"></highchart>
           </div>
       </div>


   </ion-content>

</ion-view>
