<ion-view class="bar-positive" view-title="我的班次">
   <ion-content>
       <div class="row row-wrap" style="text-align: center;height: 50px;">
           <div class="col col-10 col-center" ng-click="vm.toLeft()" style="text-align: center;">
               <i class="icon ion-chevron-left icon-accessory" ></i>
           </div>
           <div class="col col-80 col-center"style="text-align: center;">
               {{vm.dispDate}}
           </div>
           <div class="col col-10 col-center"style="text-align: center;"ng-click="vm.toRight()">
               <i class="icon ion-chevron-right icon-accessory" ></i>
           </div>
       </div>
       <div class="row row-wrap"style="height: 60px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 0px;">
           <div class="col col-center"style="text-align: center;border:1px solid #e0e0e0;height: 60px;background-color: #56a8e7;">
               <h4>日</h4>
           </div>
           <div class="col col-center"style="text-align: center;border-right:thin solid #e0e0e0;border-bottom:thin solid #e0e0e0;border-top:thin solid #e0e0e0;height: 60px;background-color: #56a8e7;">
               <h4>一</h4>
           </div>
           <div class="col col-center"style="text-align: center;border-right:thin solid #e0e0e0;border-bottom:thin solid #e0e0e0;border-top:thin solid #e0e0e0;height: 60px;background-color: #56a8e7;">
               <h4>二</h4>
           </div>
           <div class="col col-center"style="text-align: center;border-right:thin solid #e0e0e0;border-bottom:thin solid #e0e0e0;border-top:thin solid #e0e0e0;height: 60px;background-color: #56a8e7;">
               <h4>三</h4>
           </div>
           <div class="col col-center"style="text-align: center;border-right:thin solid #e0e0e0;border-bottom:thin solid #e0e0e0;border-top:thin solid #e0e0e0;height: 60px;background-color: #56a8e7;">
               <h4>四</h4>
           </div>
           <div class="col col-center"style="text-align: center;border-right:thin solid #e0e0e0;border-bottom:thin solid #e0e0e0;border-top:thin solid #e0e0e0;height: 60px;background-color: #56a8e7;">
               <h4>五</h4>
           </div>
           <div class="col col-center"style="text-align: center;border-right:thin solid #e0e0e0;border-bottom:thin solid #e0e0e0;border-top:thin solid #e0e0e0;height: 60px;background-color: #56a8e7;">
               <h4>六</h4>
           </div>
       </div>
       <div class="row row-wrap"
            ng-repeat="weekLsit in vm.scheduleList"
            on-swipe-left="vm.toRight()"
            on-swipe-right="vm.toLeft()"
       style="padding-top: 0px;">
           <div class="col" ng-repeat="item in weekLsit" style="text-align: center;height: 60px;{{item.style}}" >
               <h5 style="margin-top: 0px;margin-bottom: 5px;">{{item.date}}</h5>
               <img style="height: 25px;width: 25px;" src="{{item.icon}}" ng-if="item.icon">
           </div>

       </div>
       <div class="row row-wrap">
           <div class="col" style="text-align: right">
               <div class="titleComment" style="height:20px;width: 100%;text-align: right">
                    <div class="titleComment greenBG" style="height:13px;width:13px;margin-top: 2px;margin-left: 10px;float: left;"></div><div class="titleComment"style="height:15px;vertical-align: middle;margin-left: 2px;float: left;">休假</div>
               </div>
           </div>
       </div>

   </ion-content>

</ion-view>
