<ion-view class="bar-positive" view-title="退住审批">
    <ion-header-bar class="bar-subheader">
        <button class="button button-assertive" ng-click="vm.agreeApply(0)" ng-if="vm.permissions.hasPermission(vm.permission)">拒绝</button>
        <button class="button button-balanced" ng-click="vm.agreeApply(1)" ng-if="vm.permissions.hasPermission(vm.permission)">同意</button>
    </ion-header-bar>
   <ion-content>
       <div class="item item-divider" style="background-color: #11c1f3">
           <div style="text-align: center;color: white;"><b>详细内容</b></div>
       </div>
       <label class="item item-text-wrap">
           <span>老人：{{vm.param.personName}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>床位：{{vm.param.bedInfo}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>申请日期：{{vm.param.applyDate}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>预定退住日期：{{vm.param.implementationDate}}</span>
       </label>
       <label class="item item-text-wrap">
           <span>退住原因：{{vm.param.reason}}</span>
       </label>
       <ion-item class="item item-text-wrap">
           说明：
           <textarea  readonly ng-model="vm.param.memo"style="height: 150px;width: 100%"> </textarea>
       </ion-item>
   </ion-list>

   </ion-content>

</ion-view>
