<ion-view class="bar-positive" view-title="{{vm.personName}}">

    <ion-nav-buttons side="right">

        <button
                 class="button button-balanced"
                 ng-disabled="bloodForm.$invalid"
                 ng-click="vm.save()">
            保存
        </button>
    </ion-nav-buttons>
<form novalidate
      name="bloodForm"
      w5c-form-validate
>

    <ion-content>

        <ion-list>
            <!--<label class="item item-input">-->
                <!--<span class="input-label">测量日时</span>-->
                <!--<input class="text-right" style="background-color:white" type="text" readonly required-->
                       <!--ng-model="vm.info.inputDate"-->
                       <!--ng-click="vm.openDatePicker1()"-->
                       <!--placeholder="请选择日期">-->
            <!--</label>-->

            <label class="item item-input item-select"  >
                <div class="input-label">
                    时段
                </div>
                <select ng-model="vm.info.timeInterval"
                        ng-options="item.key as item.value  for item in vm.baseData.bloodGlucoseList">
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">血糖</span>
                <input class="text-right" type="number"
                       ng-model="vm.info.bloodGlucoseValue"
                       placeholder="mmol/L">
            </label>

            <label class="item item-input">
                <span class="input-label">备注</span>
                <input class="text-right" type="text"
                       ng-model="vm.info.comment"
                       ng-maxlength="20"
                       placeholder="" name="comment">
            </label>

        </ion-list>




    </ion-content>
</form>
</ion-view>
