<ion-view view-title="修改密码">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.save()">
            修改
        </button>
    </ion-nav-buttons>
   <ion-content >
       <div class="list">
           <label class="item item-input">
               <input type="password" placeholder="请输入旧密码" ng-model="vm.oldPassword">
           </label>
           <label class="item item-input">
               <input type="password" placeholder="请输入新密码"ng-model="vm.newPassword">
           </label>
           <label class="item item-input">
               <input type="password" placeholder="再次输入新密码"ng-model="vm.reNewPassword">
           </label>
       </div>

   </ion-content>

</ion-view>
