
<form novalidate
      name="customerInfoForm"
      w5c-form-validate
>


<ion-view class="bar-positive" view-title="{{vm.title}}">

    <ion-nav-buttons side="right">

        <button  ng-if="vm.permissions.hasPermission(vm.permission)"
                   class="button button-balanced"
                   ng-disabled="customerInfoForm.$invalid"
                   ng-click="vm.save()">
            保存
        </button>
    </ion-nav-buttons>


    <ion-content>

            <ion-list>
                <ion-item class="item-icon-right"
                          ui-sref="app.detailCustomer"
                >
                    <p>老人信息</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right"
                          ui-sref="app.sibCustomer"
                >
                    <p>家属信息</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item class="item-icon-right"
                          ui-sref="app.concernInfo"
                >
                    <p>关注信息</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item class="item-icon-right"
                          ui-sref="app.returnVisit({customerId:{{vm.customerId}} })"
                >
                    <p>回访履历</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

                <ion-item class="item-icon-right"
                          ui-sref="app.saleSummary"
                >
                    <p>营销小结</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

            </ion-list>

    </ion-content>


</ion-view>
</form>