<ion-view class="" view-title="回访履历列表">
    <ion-nav-buttons side="right">
        <button  ng-if="vm.permissions.hasPermission(vm.permission)"
                 class="button button-balanced" ng-click="vm.add()">
            新增
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-item class="item"
                  ng-if="vm.noData">
            <h2>没有查询到数据</h2>
        </ion-item>

        <ion-list>
            <ion-item class="item item-icon-right"
                      ng-repeat="item in vm.allInfo.returnVisitList"
                      ng-click="returnVisitDetail(item)">
                <ion-option-button class="button-assertive"
                                   ng-click="delete(item)">
                    删除
                </ion-option-button>
                <h3>回访日期：{{item.returnVisitDate}}</h3>
                <h3>回访人：{{item.modifier}}</h3>
                <h3>意向度：{{item.intentionalityName}}</h3>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>

    </ion-content>

</ion-view>