<ion-view class="bar-positive" view-title="采购待审批列表">
   <ion-content>
       <ion-item class="item"
                 ng-if="vm.noData">
           <h2>没有申请中的采购审核</h2>
       </ion-item>

       <ion-item class="item-text-wrap item-icon-right"
                 ng-repeat="item in vm.list" ng-click="vm.toDetail({{item}})">
           <h2>申请人：{{item.orderOwnerName}}</h2>
           <h3 style="color: #8e8e8e;">申请采购部门：{{item.purchaseDepName}}</h3>
           <h3 style="color: #8e8e8e;">申请日期：{{item.orderDate}}</h3>
           <!--<h3 style="color: #8e8e8e;">申请采购物资 ：<button ng-repeat="item1 in item.purchaseDetail"-->
                                                       <!--class="button button-outline button-small button-calm" style="min-height: 15px; line-height: 10px;">-->
               <!--{{item1.materialName}}-->
           <!--</button></h3>-->
           <i class="icon ion-chevron-right icon-accessory"></i>
       </ion-item>

   </ion-list>

   </ion-content>

</ion-view>
