<ion-view class="bar-positive" view-title="兴趣爱好">
   <ion-content>
       <ion-item class="item"
                 ng-if="vm.noData">
           <h2>没有查询到数据。</h2>
       </ion-item>


       <ion-item class="item" style="border-width: 0px;"
                 ng-repeat="item in vm.listPersonInterest">
           <div class="item item-divider " style="background-color: #11c1f3">
               <div style="text-align: center;color: white;"><b>{{item.typeName}}</b></div>
           </div>
           <ion-item class="item-text-wrap item-icon-right"
                     ng-repeat="item1 in item.listInterest">
               <h2>{{item1.codeName}}</h2>
           </ion-item>
       </ion-item>

   </ion-list>

   </ion-content>

</ion-view>
