
<form novalidate
      name="medicalForm"
      w5c-form-validate
>

<ion-view class="bar-positive" view-title="{{vm.personName}}">

    <ion-nav-buttons side="right">

        <button
                 class="button button-balanced"
                 ng-disabled="medicalForm.$invalid"
                 ng-click="vm.save()">
            保存
        </button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>
            <div class="item item-divider " style="background-color: #11c1f3">
                <div style="text-align: center;color: white;"><b>病程记录</b></div>
            </div>
            <ion-item class="item item-input">
                <textarea  placeholder="病程记录" ng-model="vm.medicalWriteInfo.comment" style="height: 300px;" ng-maxlength="1000" name="comment"> </textarea>
            </ion-item>
            <div class="item item-divider">
                参加者
            </div>
            <ion-checkbox
                    ng-repeat="item in vm.listStaff"
                    ng-model="vm.operator[item.key]"
            >
                {{item.value}}
            </ion-checkbox>



        </ion-list>




    </ion-content>

</ion-view>
</form>