<ion-view  view-title="{{vm.title}}">
    <ion-nav-buttons side="right">
        <button class="button button-balanced" ng-click="vm.confirm()">
            确定
        </button>
    </ion-nav-buttons>
    <ion-content >
        <div class="list" ng-repeat="item in vm.evaluateDetail">
            <div class="item item-divider item-calm">
                {{item.title}}
            </div>
            <div ng-repeat="data in item.stdDetail">

                <li class="item item-checkbox  item-text-wrap" >
                    <label class="checkbox"   ng-click="vm.buttonOnclick({{data}})">
                        <input type="checkbox" ng-model="data.itemName">
                    </label>
                    {{data.scoringNameDetail}}
                </li>
            </div>
        </div>
    </ion-content>


</ion-view>


