
<div class="row">
  <table class="table table-bordered table-hover table-condensed"
         datatable="ng"
         dt-column-defs="vm.dtColumnDefs"
         dt-options="vm.dtOptions"
         dt-disable-deep-watchers="true"
  >
    <thead>
      <tr>
        <th></th>
        <th>客户名称</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.customers">

        <td>{{ $index+1 }}</td>
        <td>
          <a>
            {{ item.name }}
          </a>
        </td>

        <td>
          <button type="button" ng-click="vm.edit(item)"
                  class="btn btn-primary btn-with-icon">
            <i class="fa fa-edit"></i>
            修改
          </button>
          <button type="button" ng-click="vm.destroy(item)"
                  class="btn btn-danger btn-with-icon">
            <i class="fa fa-trash-o"></i>
            刪除
          </button>
        </td>

      </tr>
    </tbody>

  </table>

</div>