

<div class="panel panel-default with-scroll">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <ui-select multiple ng-model="vm.multipleSelectItems"
                     ng-disabled="false"
                     search-enabled="true"
                     append-to-body="true"
                     class="form-control">
            <ui-select-match placeholder="规则">
              {{$item.title}}
            </ui-select-match>
            <ui-select-choices repeat="multipleItem in vm.rules | filter: $select.search">
              {{multipleItem.title}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

    </div>

    <table class="table table-bordered table-hover table-condensed"
           datatable="ng"
           dt-column-defs="vm.dtColumnDefs"
           dt-options="vm.dtOptions"
           dt-disable-deep-watchers="true"
    >
      <thead>
      <tr>
        <th></th>
        <th>姓名</th>
        <th>性别</th>
        <th>八字</th>
        <th>出生日期</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.customers">

        <td>{{ $index+1 }}</td>
        <td>
          <a href ng-click="vm.detail(item)">
            {{ item.name }}
          </a>
        </td>
        <td>
          {{ item.gender | genderFilter}}
        </td>
        <td>
          {{ item.bazi }}
        </td>
        <td>
          {{ item.birth }}
        </td>

        <td>
          {{ item.description }}
        </td>

        <td>

          <button type="button" ng-click="vm.edit(item)"
                  class="btn-sm btn-primary btn-with-icon">
            <i class="fa fa-edit"></i>
            修改
          </button>
          <button type="button" ng-click="vm.study(item)"
                  class="btn-sm btn-info btn-with-icon">
            <i class="fa fa-edit"></i>
            学习
          </button>
          <button type="button" ng-click="vm.destroy(item)"
                  class="btn-sm btn-danger btn-with-icon">
            <i class="fa fa-trash-o"></i>
            刪除
          </button>
        </td>

      </tr>
      </tbody>

    </table>
  </div>
</div>